html {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


.mainContainer {
    height: 700px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
   
}

.inputDisplay {
    height: 150px;
    width: 100%;
    border: 1px solid black;
 
}

.buttonContainer {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

button {
    height: 80px;
    width: 100px;
    border-radius: 70px;
}

