* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Architects Daughter";
    padding-top: 50px;
    background-color: gray;
}

.mainContainer {
    border: 4px solid black;
    text-align: center;
    width: 18%;
    margin: auto;
    height: auto;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.5);
}

.inputDisplay {
    border-bottom: 1px solid black;
    height: 90px;
    text-align: right;
    line-height: 90px;
    font-size: auto;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    height: 90px;
    width: 20%;
    border-radius: 55px;
    margin: 10px;
}

#zero {
    flex-grow: 1;
}